<html>

<body>
    <p><a class='btn btn-sm btn-light' style="font-size: larger;" role='button'
            href="/search/gk/<%= term %>"><%= term %></a><span style='float: right; padding-left: 10px;'>Syntax:
                <%= results %></span></p>
    <p>~ <%= result_count %> hits <span style='font-size: larger; float:right; padding-left: 10px;'></p>
    <p>No entry found.</p>
</body>

</html>