<html>

<body>
    <p><a href="/search/heb/<%= term %>" style='color: white; text-decoration: none;'>Search for <%= term %></p>
    <p>Strong's ID: <%= strong_id %></p>
    <p>Lemma: <%= lemma %> (xlit: <%= xlit %>; /<%= pronounce %>/</p>
    <p>Description: <%= description %></p>
    
</body>

</html>